<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="beans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beans-link">
                <a href="{% url 'products' %}?category=arabica_beans" class="dropdown-item">Arabica beans</a>
                <a href="{% url 'products' %}?category=liberica_beans" class="dropdown-item">Liberica beans</a>
                <a href="{% url 'products' %}?category=robusta_beans" class="dropdown-item">Robusta beans</a>
                <a href="{% url 'products' %}?category=arabica_beans,liberica_beans,robusta_beans" class="dropdown-item">All Beans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="coffeemaker-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Makers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffeemaker-link">
                <a href="{% url 'products' %}?category=french_press" class="dropdown-item">French press</a>
                <a href="{% url 'products' %}?category=drip_filter" class="dropdown-item">Drip coffee</a>
                <a href="{% url 'products' %}?category=moka_pot" class="dropdown-item">Moka Pot</a>
                <a href="{% url 'products' %}?category=siphon_coffee_maker" class="dropdown-item">Siphon Pot</a>
                <a href="{% url 'products' %}?category=make_cup_set" class="dropdown-item">Coffee Maker and Cup Sets</a>
                <a href="{% url 'products' %}?category=french_press,drip_filter,moka_pot,siphon_coffee_maker,make_cup_set" class="dropdown-item">All Coffee Makers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="coffeecups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Mugs and Cups
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffeecups-link">
                <a href="{% url 'products' %}?category=cappuccino_cup" class="dropdown-item">Cappuccino Cups</a>
                <a href="{% url 'products' %}?category=espresso_cup" class="dropdown-item">Espresso Cups</a>
                <a href="{% url 'products' %}?category=coffee_cup" class="dropdown-item">Cups</a>
                <a href="{% url 'products' %}?category=coffee_mug" class="dropdown-item">Mugs</a>
                <a href="{% url 'products' %}?category=message_coffee_mug" class="dropdown-item">Messages Mugs</a>
                <a href="{% url 'products' %}?category=otg_coffee_cup" class="dropdown-item">Mugs on the Move</a>
                <a href="{% url 'products' %}?category=disposable_coffee_cup" class="dropdown-item">Disposable Cups</a>
                <a href="{% url 'products' %}?category=cappuccino_cup,espresso_cup,coffee_cup,coffee_mug,message_coffee_mug,otg_coffee_cup, disposable_coffee_cup," class="dropdown-item">All Coffee Mugs and Cups</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=once_off_beans" class="dropdown-item">Once off beans</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=coffee_make_cup_set,once_off_beans,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>