<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="beans-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beans-link">
                <a href="{% url 'products' %}?category=arabica" class="dropdown-item">Arabica beans</a>
                <a href="{% url 'products' %}?category=robusta" class="dropdown-item">Robusta beans</a>
                <a href="{% url 'products' %}?category=liberica" class="dropdown-item">Liberica beans</a>
                <a href="{% url 'products' %}?category=beans,arabica,robusta,liberica" class="dropdown-item">All Beans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="coffeemaker-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Makers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffeemaker-link">
                <a href="{% url 'products' %}?category=french_press,plunger" class="dropdown-item">French press / Plungers </a>
                <a href="{% url 'products' %}?category=pour_over,drip_coffee" class="dropdown-item">Pour over / Drip coffee</a>
                <a href="{% url 'products' %}?category=moka_pot" class="dropdown-item">Moka Pot</a>
                <a href="{% url 'products' %}?category=siphon_pot" class="dropdown-item">Siphon Pot</a>
                <a href="{% url 'products' %}?category=coffeemaker,french_press,plungers,pour_over,drip_coffee,moka_pot,siphon_pot" class="dropdown-item">All Coffee Makers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="coffeecups-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee Mugs and Cups
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffeecups-link">
                <a href="{% url 'products' %}?category=messages_mugs" class="dropdown-item">Messages Mugs</a>
                <a href="{% url 'products' %}?category=mugs_on_the_move" class="dropdown-item">Mugs on the Move</a>
                <a href="{% url 'products' %}?category=mugs_and_cups" class="dropdown-item">Mugs and Cups</a>
                <a href="{% url 'products' %}?category=messages_mugs,cups,mug,cup,mugs_on_the_move,mugs_and_cups" class="dropdown-item">All Coffee Mugs and Cups</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=coffee_maker_and_cup_sets" class="dropdown-item">Coffee Maker and Cup Sets</a>
                <a href="{% url 'products' %}?category=once_off_beans" class="dropdown-item">Once off beans</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=coffee_maker_and_cup_sets,once_off_beans,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>